NET "CLK" LOC = "N8";
NET "D<7>" LOC = "K13" | IOSTANDARD = LVCMOS33 | PULLUP;#10
NET "D<6>" LOC = "G1" | IOSTANDARD = LVCMOS33 | PULLUP;#39
NET "D<5>" LOC = "J14" | IOSTANDARD = LVCMOS33 | PULLUP;#11
NET "D<4>" LOC = "H2" | IOSTANDARD = LVCMOS33 | PULLUP;#38
NET "D<3>" LOC = "J13" | IOSTANDARD = LVCMOS33 | PULLUP;#12
NET "D<2>" LOC = "H1" | IOSTANDARD = LVCMOS33 | PULLUP;#37
NET "D<1>" LOC = "H14" | IOSTANDARD = LVCMOS33 | PULLUP;#13
NET "D<0>" LOC = "H13" | IOSTANDARD = LVCMOS33 | PULLUP;#14
NET "clkb" LOC = "G2" | IOSTANDARD = LVCMOS33 | PULLUP;#40
NET "clkc" LOC = "K14" | IOSTANDARD = LVCMOS33 | PULLUP;#9
#NET "E<0>" LOC = "D1" | IOSTANDARD = LVCMOS33 | PULLUP;#31
#NET "E<1>" LOC = "G13" | IOSTANDARD = LVCMOS33 | PULLUP;#18
#NET "E<2>" LOC = "D2" | IOSTANDARD = LVCMOS33 | PULLUP;#32
#NET "E<3>" LOC = "G14" | IOSTANDARD = LVCMOS33 | PULLUP;#17
#NET "E<4>" LOC = "E1" | IOSTANDARD = LVCMOS33 | PULLUP;#33
#NET "E<5>" LOC = "F13" | IOSTANDARD = LVCMOS33 | PULLUP;#16
#NET "E<6>" LOC = "E2" | IOSTANDARD = LVCMOS33 | PULLUP;#34
#NET "E<7>" LOC = "F14" | IOSTANDARD = LVCMOS33 | PULLUP;#15
#NET "G<0>" LOC = "N5" | IOSTANDARD = LVCMOS33 | PULLUP;#2
#NET "G<1>" LOC = "P7" | IOSTANDARD = LVCMOS33 | PULLUP;#4
#NET "G<2>" LOC = "N12" | IOSTANDARD = LVCMOS33 | PULLUP;#6
#NET "G<3>" LOC = "K1" | IOSTANDARD = LVCMOS33 | PULLUP;#43
#NET "G<4>" LOC = "L1" | IOSTANDARD = LVCMOS33 | PULLUP;#45
#NET "G<5>" LOC = "M1" | IOSTANDARD = LVCMOS33 | PULLUP;#47