//! **************************************************************************
// Written by: Map P.20131013 on Wed Sep 05 15:31:54 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clkb" LOCATE = SITE "G2" LEVEL 1;
COMP "clkc" LOCATE = SITE "K14" LEVEL 1;
COMP "D<0>" LOCATE = SITE "H13" LEVEL 1;
COMP "D<1>" LOCATE = SITE "H14" LEVEL 1;
COMP "D<2>" LOCATE = SITE "H1" LEVEL 1;
COMP "D<3>" LOCATE = SITE "J13" LEVEL 1;
COMP "D<4>" LOCATE = SITE "H2" LEVEL 1;
COMP "D<5>" LOCATE = SITE "J14" LEVEL 1;
COMP "D<6>" LOCATE = SITE "G1" LEVEL 1;
COMP "D<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "CLK" LOCATE = SITE "N8" LEVEL 1;
SCHEMATIC END;

